# Flutter
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Go
backend-notaris-go/tmp/
backend-notaris-go/.air/

# Environment
backend-notaris-go/.env

# IDE / OS
.vscode/
.idea/
*.iml
.DS_Store
Thumbs.db
